spring:
  application:
    name: my-market
  liquibase:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/my_market
    user: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  r2dbc:
    url: r2dbc:postgresql://${DB_HOST:localhost}:5432/my_market
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: 6379
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: ${KEYCLOAK_ISSUER_URI}
        registration:
          keycloak:
            authorization-grant-type: client_credentials
            provider: keycloak
            client-id: ${KEYCLOAK_CLIENT_ID}
            client-secret: ${KEYCLOAK_CLIENT_SECRET}

cache:
  item:
    ttl: PT30S

logging:
  level:
    root: INFO